.button {
  outline: none;
  border: none;
  padding: 10px 16px;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: #f2f9fe;
  cursor: pointer;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
    0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  &:active {
    background: #c7cdd1;
  }
}
