.nav__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  width: 96px;

  &:hover {
    cursor: pointer;
    background: #1e88e5;
  }

  p {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
}
