.about-page {
  width: 94%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

.block {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.desciption {
  height: 230px;
  width: 360px;
  background: #ffffff;
  padding: 1rem;
  display: flex;

  span {
    width: 4rem;
    height: 4rem;
    background: #2196f3;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.14);
    color: white;
    font-size: 24px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25px;
    border-radius: 50%;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 1rem;
    padding-left: 1rem;
  }
}
