* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px;
}
body {
  min-height: 100vh;
}
main {
  min-height: 86vh;
  display: flex;
  width: 100rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  margin-bottom: 2rem;
}
