@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './sass/constants.scss';

.score-page {
  width: 100%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  }

  &__avatar {
    width: 6rem;
    height: 4rem;

    div {
      width: 4rem;
      height: 4rem;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.1px;
      color: #333333;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.4px;
      color: #333333;
    }
  }

  &__score {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3,
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.15px;
    }

    h3 {
      color: rgba(0, 0, 0, 0.87);
    }

    span {
      color: #2196f3;
      margin-left: 1rem;
    }
  }
}
