@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "./sass/constants.scss";

.settings-block {
  height: 252px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-left: 4rem;
  background: #ffffff;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.settings__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 256px;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }

  form {
    margin-top: 2.5rem;
  }
}
